:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #e7d8ed 30%,
    #032b89
  );

  --vp-home-hero-image-filter: blur(44px);
}

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

/* 移除底部logo */
.DocSearch-Logo {
  display: none;
}

/* 侧边栏文字超出隐藏 */
.VPSidebarItem .VPLink p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 200px;
}

/* 翻页按钮标题文字超出隐藏 */
.VPDocFooter .pager .title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* 引用样式修改 */
.vp-doc blockquote {
  border-left: 0px solid #122d40;
  border-radius: 10px;
  background-color: var(--vp-badge-tip-bg);
}

/* gitalk */
.gt-container .gt-header-textarea{
  background-color: var(--vp-c-brand-dimm) !important;
}
